<div class="container">
  <h1>Dashboard</h1>
  <% unless @user.verified? %>
    <div class="alert bg-danger">
      You need to verify your phone number before continuing. <%= link_to 'Verify Now', send_verification_path %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 get-support-container">
      <a href="#" class="btn btn-primary btn-lg btn-block">Get Support</a>
    </div>
    <div class="col-md-6 account-options-container">
      <label>Anonymity</label>
      <% if current_user.anonymous? %>
        <%= link_to 'Disable', user_anonymity_path(do: 'disable'), class: "btn btn-info" %>
      <% else %>
        <%= link_to 'Enable', user_anonymity_path(do: 'enable'), class: "btn btn-info" %>
      <% end %>

      <hr />
      <h3>Interests</h3>
      <% if current_user.interests.empty? %>
        You haven't added any interests. Add some below!
      <% else %>
        <% current_user.interests.each do |interest| %>
          <span class="interest"><%= interest.name %></span>
        <% end %>
      <% end %>

      <%= form_for :interest, url: add_interest_path, html: { class: 'interest-form' } do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control' %>
          <%= f.submit 'Add', class: 'btn btn-info' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
